# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env
myenv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and database files
logs/
*.sqlite3

# Ignore dependencies
media/
session/
top_posts_reddit.json
errors.log
